#sockets
*socket

#files saved for adding later... maybe
later

*.py[cod]

# C extensions
*.so

# eclipse stuff
.project
.pydevproject
.settings

# test files
test*

# log files
*.log

#helper scripts
kill
list
